RESOURCE_GROUP_NAME =
STORAGE_ACCOUNT_NAME = 
AI_SERVICES_ENDPOINT = 

GPT4O_MODEL_DEPLOYMENT_NAME = gpt-4o
GPT4O_MINI_MODEL_DEPLOYMENT_NAME = gpt-4o-mini
TEXT_EMBEDDING_MODEL_DEPLOYMENT_NAME = text-embedding-3-large



# Azure OpenAI
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_REGION=""
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4o"

# Azure Document Intelligence
DOCUMENT_INTELLIGENCE_API_KEY=""
DOCUMENT_INTELLIGENCE_ENDPOINT=""
DOCUMENT_INTELLIGENCE_REGION=""

